* {
	box-sizing: border-box;
}
body {
	font-family: 'Ubuntu', sans-serif;
}
.container {
	display: grid;
	justify-content: center;
	grid-template-columns: minmax(550px, 1170px);
}
input:focus, textarea:focus, button:focus {
	outline: none;
}