.footer-links {
	padding-top: 110px;
	text-align: center;
}
.footer-links div {
	display: inline-block;
}
.facebook-icon, .twitter-icon, .linkedin-icon, .instagram-icon {
	border-right: 1px solid #808080;
}
.footer-links a {
	width: 46px;
	height: 26px;
	display: block;
}
.footer-links a:hover {
	transform: scale(1.2);
	transition: .2s linear;
}
.facebook-icon a {
	background: url(../images/facebook.png) no-repeat center;
}
.twitter-icon a {
	background: url(../images/twitter.png) no-repeat center;
}
.linkedin-icon a {
	background: url(../images/linkedin.png) no-repeat center;
}
.instagram-icon a {
	background: url(../images/instagram.png) no-repeat center;
}
.vimeo-icon a {
	background: url(../images/vimeo.png) no-repeat center;
}
.copyright {
	padding-top: 15px;
	padding-bottom: 35px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	color: #717171;
}