header {
	background: url(../images/header_bgn.jpeg) center top no-repeat;
}
.nav {
	display: grid;
	grid-template-columns: 110px 1fr;
	padding-top: 40px;
}
.site-logo {
	margin-left: 40px;
	display: block;
	width: 70px;
	text-decoration: none;
	text-align: center;
	color: #3f3d3e;
	font-size: 22px;
	font-weight: 700;
	border-top: 2px solid #3f3d3e;
	border-bottom: 2px solid #3f3d3e;
	padding: 5px 0;
}
.site-logo:hover {
	color: #fb6470;
	border-top: 2px solid #fb6470;
	border-bottom: 2px solid #fb6470;
	transition: .2s linear;
}
.menu {
	display: grid;
	grid-template-columns: repeat(4, 120px);
	justify-content: center;
	align-content: center;
}
.menu a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: #3f3d3e;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 20px;
	white-space: nowrap;
}
.menu a:hover {
	color: #fb6470;
	transition: .2s linear;
}
.header-titles {
	text-align: center;
	color: #fff;
	padding-top: 130px;
}
.header-titles h1 {
	font-size: 48px;
	font-weight: 700;
}
.header-button {
	padding-top: 50px;
	padding-bottom: 100px;
}
.header-button a {
	display: block;
	background-color: #fb6470;
	color: #fff;
	border-radius: 3px;
	width: 170px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.header-button a:hover {
	background-color: #fff;
	color: #3f3d3e;
	transition: .2s linear;
}