.about {
	padding-top: 80px;
	display: grid;
	grid-auto-flow: column;
}
.feedback-form {
	display: grid;
	justify-content: end;
	padding-right: 60px;
	border-right: 1px solid #cccccc;
}
.feedback-name {
	margin-bottom: 26px;
	font-size: 22px;
	font-weight: 500;
}
.feedback-input {
	width: 350px;
	height: 35px;
	margin-bottom: 22px;
	border: 1px solid #808080;
	outline: none;
	padding-left: 12px;
}
.feedback-input, .feedback-input::placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #808080;
}
.feedback-input:focus::placeholder {
	color: transparent;
}
.feedback-textarea {
	min-width: 350px;
	min-height: 95px;
	max-width: 350px;
	max-height: 95px;
	border: 1px solid #808080;
	outline: none;
	padding: 12px 0 0 12px;
}
.feedback-textarea, .feedback-textarea::placeholder {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #808080;
}
.feedback-textarea:focus::placeholder {
	color: transparent;
}
.feedback-btn {
	width: 95px;
	height: 35px;
	margin-top: 22px;
	background-color: #fb6470;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border: none;
	cursor: pointer;
}
.feedback-btn:hover {
	background-color: #fff;
	color: #fb6470;
	border: 1px solid #fb6470;
	transition: .2s linear;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn-position {
	text-align: right;
}
.contacts {
	display: grid;
	grid-auto-flow: column;
}
.home-icon, .email-icon, .phone-icon {
	height: 35px;
}
.home-icon {
	background: url(../images/home.png) no-repeat center center;
	margin-top: 12px;
	margin-bottom: 82px;
}
.email-icon {
	background: url(../images/email.png) no-repeat center center;
	margin-bottom: 82px;
}
.phone-icon {
	background: url(../images/phone.png) no-repeat center center;
}
.address-title {
	font-size: 18px;
	font-weight: 500;
	color: #3e3e3e;
	margin-bottom: 25px;
}
.address-discription {
	font-size: 14px;
	font-weight: 500;
	color: #808080;
}
.location, .email {
	margin-bottom: 60px;
}