.articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, 360px);
	grid-auto-rows: 350px;
	justify-content: space-between;
	grid-column-gap: 45px;
	grid-row-gap: 45px;
}
.article-foto-main {
	height: 220px;
}
.article-foto-1 {
	background: url(../images/berlin.jpg);
}
.article-foto-2 {
	background: url(../images/krakiv.jpg);
}
.article-foto-3 {
	background: url(../images/rym.jpg);
}
.article-foto-4 {
	background: url(../images/shri_lanca.jpg);
}
.article-foto-5 {
	background: url(../images/bali.jpg);
}
.article-foto-6 {
	background: url(../images/india.jpg);
}
.article-foto-7 {
	background: url(../images/butskii_kanion.jpg);
}
.article-foto-8 {
	background: url(../images/zamok_shenborniv.jpg);
}
.article-foto-9 {
	background: url(../images/оleshkivski_sands.jpg);
}
.article-foto-10 {
	background: url(../images/vienna.jpg);
}
.article-foto-11 {
	background: url(../images/stockholm.jpg);
}
.article-foto-12 {
	background: url(../images/barcelona.jpg);
}
.article-description {
	background-color: #3f3d3e;
	padding: 17px;
	height: 130px;
	position: relative;
}
.article-name {
	color: #fff;
	font-size: 22px;
	font-weight: 500;
}
.article-data {
	margin-top: 15px;
	margin-bottom: 25px;
	color: #d9d8d8;
	font-size: 16px;
	font-weight: 500;
}
.article-description a {
	color: #d9d8d8;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding-bottom: 5px;
}
.article-description a:hover {
	border-bottom: 1px solid #fb6470;
	color: #fb6470;
	transition: .2s linear;
}
.article-like {
	position: absolute;
	background: url(../images/like_white.png) no-repeat center center;
	height: 30px;
	width: 30px;
	right: 12px;
	bottom: 12px;
}
.article-like:hover {
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 3px;
	transition: .2s linear;
}
.article {
	position: relative;
  	top: 0;
  	left: 0;
}
.article:hover {
	transition: .2s linear;
	box-shadow: 2px 2px white, 4px 4px white;
  	top: -4px;
  	left: -4px;
}

@media(max-width: 1170px) {
	.articles {
		justify-content: center;
	}
}
@media(max-width: 764px) {
	
}