.tab-controls {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 80px 0 70px 0;
}
.tab-controls a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	color: #3e3e3e;
	border-bottom: 2px solid #ccc;
	padding: 0 17px 12px 17px;
}
.tab-controls a:first-child {
	text-align: left;
}
.tab-controls a:last-child {
	text-align: right;
}
.tab-controls a:hover {
	border-bottom: 2px solid #f27982;
	color: #fb6470;
	transition: .2s linear;
}

@media(max-width: 1170px) {
	.tab-controls {
		grid-template-columns: repeat(2, 220px);
		grid-template-rows: 2;
		justify-content: center;
		grid-row-gap: 15px;
		grid-column-gap: 45px;
	}
	.tab-controls a:first-child {
		text-align: center;
	}
	.tab-controls a:last-child {
		text-align: center;
	}
}
@media(max-width: 764px) {
	
}